html, body {
  height: 100%;
}

.container-fluid {
  display: flex;
  min-width: 550px;
  height: 100%;
}

#quote-box {
  width: 550px;
  height: 290px;
  margin: auto;
  padding: 50px;
  border-radius: 5px;
  background-color: #ffffff;
}

#text {
  font-size: 28px;
  line-height: 1;
  max-width: 385px;
  min-height: 85px;
  margin-bottom: 25px;
}

#author {
  margin-bottom: 27px;
}

#tweet-quote {
  margin-right: 4px;
}

.btn-default {
  padding: 8px 14px;
  color: #ffffff;
  border: 0;
  box-shadow: none;
  outline: none;
}

.btn-default:active,
.btn-default:focus,
.btn-default:hover {
  color: #ffffff !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  opacity: .9;
}