html, body {
  height: 100%;
}

.container-fluid {
  display: flex;
  height: 100%;
  background-color: #73a857;
}

#quote-box {
  width: 550px;
  height: 290px;
  margin: auto;
  padding: 50px;
  border-radius: 5px;
  background-color: #ffffff;
}

#text {
  font-size: 28px;
  line-height: 1;
  max-width: 385px;
  margin-bottom: 25px;
  color: #73a857;
}

#author {
  margin-bottom: 27px;
  color: #73a857;
}

.btn-default {
  color: #ffffff;
  background-color: #73a857;
}

.btn-default:hover {
  color: #ffffff;
  background-color: #73a857;
  opacity: .9;
}